body {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

.banner {
    background-color:aqua;
    background-image: url("../Images/Background.jpg");
    background-size: cover;
    color: whitesmoke;


    padding-top: 250px;
    padding-bottom: 250px;
}
.button{
    color:rgb(91, 168, 235);
    font-weight: bolder;
    width: 30%;
    height: 40%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border-color: aqua;
    outline: none;
    cursor: pointer;
    background-color: transparent;

}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}